In [1]:
import pandas as pd

In [2]:
pd.__file__

'/workspaces/data-engineering-zoomcamp-homeworks/module 1/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [3]:

"""
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

Oppure, più visivamente:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
df = pd.read_csv(url)
"""

url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'


dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    # nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
len(df)

1369765

In [6]:
df['tpep_dropoff_datetime'][:10]

0   2021-01-01 00:36:12
1   2021-01-01 00:52:19
2   2021-01-01 01:11:06
3   2021-01-01 00:31:01
4   2021-01-01 00:48:21
5   2021-01-01 00:24:30
6   2021-01-01 00:17:28
7   2021-01-01 00:30:34
8   2021-01-01 01:00:13
9   2021-01-01 00:39:46
Name: tpep_dropoff_datetime, dtype: datetime64[us]

In [7]:
!uv add sqlalchemy

Resolved 118 packages in 0.68ms
Audited 9 packages in 1ms

In [8]:
!uv add psycopg2-binary

Resolved 118 packages in 0.69ms
Audited 9 packages in 0.12ms

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

# database://user:password@host:port/database_name

"""
Creo un oggetto che sa:
- quale DBMS usare (Postgres)
- quale driver (psycopg2)
- dove connettersi (host, porta, db)
- con quali credenziali (user, pw).

Stiamo dicendo: questo oggetto è il modo standard di collegarsi a questo DB
"""

'\nCreo un oggetto che sa:\n- quale DBMS usare (Postgres)\n- quale driver (psycopg2)\n- dove connettersi (host, porta, db)\n- con quali credenziali (user, pw).\n\nStiamo dicendo: questo oggetto è il modo standard di collegarsi a questo DB\n'

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

"""
Dato un dataframe (df), produce un comando DDL `CREATE TABLE yellow_taxi_data` (...); usando il dialect SQL specificato nell'engine
Quindi:
df = dataframe
name = nome tabella da creare
con=engine = informazioni di connessione al DB in cui creare la tabella (tra cui, quale dialetto SQL usare)
"""

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

"\nDato un dataframe (df), produce un comando DDL `CREATE TABLE yellow_taxi_data` (...); usando il dialect SQL specificato nell'engine\nQuindi:\ndf = dataframe\nname = nome tabella da creare\ncon=engine = informazioni di connessione al DB in cui creare la tabella (tra cui, quale dialetto SQL usare)\n"

In [11]:
df.head(n = 0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [12]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [13]:
len(df)

1369765

In [14]:
df_iter = pd.read_csv(
    url,
    dtype= dtype,
    parse_dates= parse_dates,
    iterator = True,
    chunksize=100_000,
)
df_iter

In [15]:
# df = next(df_iter)
# df[0:1]

# questo codice va iterato manualmente

In [16]:
first_chunk = next(df_iter)

first_chunk.head(0).to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="replace"
)

print("Table created")

first_chunk.to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="append"
)

print("Inserted first chunk:", len(first_chunk))

for df_chunk in df_iter:
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )
    print("Inserted chunk:", len(df_chunk))

Table created
Inserted first chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 100000
Inserted chunk: 69765